@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    list-style: none;
    font-family: Poppins;
    margin: 0;
    padding: 0;
    color: #FFF;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all ease-out 0.45s;
    text-underline-offset: 10px;
}
/*----------------------------------------------------------------------------------------*/

/* Body Part */
body, head {
    margin: 0;
}

/* Header Part */
#nav-bar {
    width: 100%;
    z-index: 10000;
}

.header {
    background: #1d1d1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px 10px 28px;
}

    /* Left Link */
.header .left-link {
    display: flex;
    align-items: center;
    font-size: 2em;
    gap: 12px;
}

    /* Right Link */
.header .right-link {
    display: flex;
    font-size: 1.1em;
    gap: 32px;
}

#home-btn, #koleksi-btn, #spesialitas-btn, #kontak-btn {
    cursor: pointer;
}

.right-link a{
    color: #7f7f7f;
    font-weight: 500;
}

.right-link a.location{
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.right-link a.location:hover{
    text-underline-offset: 5px;
}

.right-link a:hover{
    color: #fff;
}
/* Section 1 */

div.section-1 {
    width: 100%;
    height: 700px;
    background: url(video/watchhhh.gif);
    background-size: cover;
    text-align: center;
    padding-top: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-text,
.main-text-bold {
    font-size: 4em;
    color: #c5c5c5;
}

label.main-text-bold {
    font-weight: bold;
    color: #f0f0f0;
}

.section-1-btn-section {
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/*----------------------------------------------------------------------------------------*/

/* Body */
.body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0 80px 0;
    gap: 58px;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.body-container{
    color: #0D0D0D;
    font-weight: 400;
    font-size: 1.5em;
}

.newest-watch {
    background-color: #D2D2D2;
    border-radius: 15px;
    width: 450px;
    padding: 0 16px 18px 16px;
}

.newest-watch p {
    text-align: center;
}

.bold-text {
    font-size: 2em;
    color: #3b3b3b;
}

.newest-watch .bold-text a {
    color: #767676;
}

.bold-text a:hover {
    color: #000000;
}

.info-text {
    color: #595959;
    font-size: 0.5em;
}

.button-section button {
    letter-spacing: 2px;
}

.button-section {
    padding-right: 30px;
}

.more-btn {
    margin-right: 20px;
}

.watch-img{
    transition: all .2s ease-in-out;
}

.watch-img:hover{
    transform: scale(1.05);
}

/*----------------------------------------------------------------------------------------*/

/* Featured Products */
.Featured {
    background-color: #EDEDED;
    padding-top: 32px;
    padding-bottom: 180px;
}

.Featured p {
    color: #000000;
}

.Featured-title {
    text-align: center;
    width: 600px;
    font-size: 2.5em;
    font-weight: 500;
    margin: 0 auto 82px auto;
}

.Featured-title .p2 {
    font-size: 0.5em;
    font-weight: 100;
    color: #595959;
}

.Featured-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

    /* Product */
.product{
	float: center;
    display: flex;
    margin-right: 30px;
    margin-top: 20px;
    gap: 60px;
}

.product-info{
    min-width: auto;
    max-width: 400px;
}

.product img{
    margin-left: 30px;
    border-radius: 20px;
    width: 450px;
    transition: all .2s ease-in-out;
}

.product-name{
    font-size: 2.2em;
    color: #767676;
    font-weight: 600;
}

.product-desc{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 0px;
}

.product img:hover{
    transform: scale(1.05);
}

#product1, #product2, #product3 {
    display: none;
    opacity: 0;
}

/*----------------------------------------------------------------------------------------*/

/* Specialitas*/

.specialty{
    color: #000000;
    background-color: #0b0b0b;
    padding: 34px 0 70px 0;
}

.specialty .s4-title{
    text-align: center;
    color: #D0D0D0;
    padding-bottom: 34px;
    font-size: 2em;
    font-weight: 300;
}

.specialty-box {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}

.specialty-box div {
    background-color: #343434;
    border-radius: 15px;
    width: 280px;
    height: 300px;
    text-align: center;
    color: #ECECEC;
    transition: all .2s ease-in-out;
}

.specialty-box div:hover{
    transform: scale(1.05);
}

.specialty-div img {
    width: 7.5vw;
}

.specialty-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7vw;
    padding: 0.5vw;
}

.specialty-div > p:nth-child(2) {
    color: #f1f1f1;
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

.specialty-div > p:nth-child(3) {
    color: #d6d6d6;
    font-size: 1em;
}

/*----------------------------------------------------------------------------------------*/

/* Quote */
.quote {
    background-image: url(Images/Background/jogging\ pic.jpg);
    background-size: cover;
    width: 100%;
    height: 900px;
    filter: brightness(75%);

    display: flex;
    justify-content: flex-end;
}

.quote div {
	-webkit-text-stroke: 1px black;
	text-shadow: 2px 2px 6px black;
    font-size: 3.5em;
    margin-top: 160px;
    margin-right: 80px;
}

.quote i {
    color: white;
}

.quote i b {
    color: yellow;
}

.quote i span {
    color: #000000;
    font-size: 72px;
    font-weight: 500;
}

/*----------------------------------------------------------------------------------------*/
/* footer */

.footer {
    text-align: left;
    padding: 30px 70px 0px 70px;
    color: #000000;
    background-color: #1F1F1F;
    height: 230px;
    display: flex;
    justify-content: space-between;
}

.un {
    display: inline-block;
    padding-bottom:2px;
    margin-bottom: 20px;
    background-image: linear-gradient(#fff 0 0);
    background-position: right -100% bottom 0;
    background-size: 200% 2px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 2em;
  }

.un:hover {
    background-position: left -100% bottom 0;
    transition: background-position 1s;
}

.footer-sosmed{
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 50px;
    align-items: center;
}

.footer-sosmed-btn{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-sosmed-btn a{
    width: 25x;
    height: 25px;
    transition: all .2s ease-in-out;
}

.footer-sosmed-btn i{
    object-fit: contain;
}

.footer-sosmed-btn a:hover{
    transform: scale(1.1);
}



.footer div{
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.footer div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer a{
    color: #7f7f7f;
    margin-bottom: 10px;
}

.footer a:hover{
    color: #fff;
}

/*----------------------------------------------------------------------------------------*/

/* button */

/* Section-1 Button */
.s1-btn1,
.s1-btn2 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #ececec;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
}

.s1-btn2 {
    color: #989898;
    border: 2px solid #989898;
}

.s1-btn1:disabled,
.s1-btn2:disabled {
  pointer-events: none;
}

.s1-btn1:hover,
.s1-btn2:hover {
  color: #161616;
  background-color: #ececec;
  border: 2px solid #ececec;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.s1-btn1:active,
.s1-btn2:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Featured products */

.left-button,
.right-button {
    display:block;
    min-height: 70px;
    min-width: 70px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    background-color: #D9D9D9;
    transition: all .2s ease-in-out;
}

.left-button:hover,
.right-button:hover{
    transform: scale(1.3);
}

.buy-btn, .more-btn {
  border: none;
  appearance: none;
  outline: none;
  text-decoration: none;

  box-sizing: border-box;
  
  cursor: pointer;
  display: inline-block;

  border-radius: 15px;
  font-size: 22px;
  font-weight: 800;
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  padding: 12px 18px;
  text-align: center;

  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 140px;
}

.buy-btn{
    background-color: #0D0D0D;
    color: #E1E1E1;
}
.more-btn{
    background-color: #C1C1C1;
    color: #2B2B2B;
}

.buy-btn:disabled, 
.more-btn:disabled{
  pointer-events: none;
}

.buy-btn:hover,
.more-btn:hover{
    transform: translateY(-10px);
}

.buy-btn:active,
.more-btn:active{
    box-shadow: none;
    transform: translateY(0);
}